@font-face {
  font-family: "Product Sans";
  src: local("Product Sans"), url(./fonts/Product-Sans/Product-Sans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Product Sans Light";
  src: local("Product Sans"), url(./fonts/Product-Sans/ProductSans-Light.ttf) format("truetype");
}
