<div style="position: relative;
">
  <input type="text" class="main__search"
         (keydown.enter)="$event.preventDefault()" #search
         placeholder=""
         (focus)="isFocusedSearch = false"
         (blur)="searchBlur()"
  >
  <img src="../../../assets/images/search.png"
       alt="Search" class="main__search-icon">
  <span
    (click)="searchElementRef.nativeElement.focus()"
    class="main__placeholder" *ngIf="isFocusedSearch">Search for city</span>
</div>

<ul class="main__card-list">
  <li *ngFor="let coordinates of myCities">
    <app-weather-short-info
      [cityCoordinates]="coordinates"
    ></app-weather-short-info>
  </li>
</ul>


