body {
  margin: 0;
}

body, html {
  height: 100%;
}

p, ul, button, li {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.pac-icon {
  display: none;
}


.pac-container {
  padding-top: 20px;
  border-radius: 16px;

  &:after {
    background-image: none !important;
    height: 0;
  }
}



